.svg-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--muted);
    user-select: none;
    cursor: pointer;
    background-color: none;

    border-radius: var(--border-radious);
    border: none;
    padding: 0;
    --btn-wh: 2.0rem;
    height: var(--btn-wh);
    width: var(--btn-wh);

    & svg {
        --svg-wh: var(--btn-wh);
        --_s: calc(var(--svg-wh) - calc(var(--svg-wh)/4));
        width: var(--_s);
        height: var(--_s);
    }
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    --width: 85vw;
    --max-width: 700px;
}

.ta-wrap {
    position: relative;
    width: var(--width);
    max-width: var(--max-width);
    margin-bottom: 1.5rem;
}

textarea {
    all: unset;
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;

    width: 100%;
    min-height: calc(1.2em * 2);
    /* 2 rows minimum */
    box-sizing: border-box;
    resize: none;
    /* Disable native resize on desktop */

    background-color: inherit;
    color: inherit;
    border: 2px solid var(--muted);
    border-radius: var(--border-radious);
    resize: none;
    /* no horizontal scroll */
    white-space: normal;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;

    &:focus {
        border-color: #66afe9;
        box-shadow: 0 0 8px #66afe999;
    }
}

#resizeHandle {
    all: unset;
    margin: .5rem auto 0;
    touch-action: none;
    cursor: ns-resize;

    background-color: var(--muted);
    display: block;
    user-select: none;

    border-radius: var(--border-radious);
    border: none;
    padding: 0;
    --btn-wh: 4.0rem;
    width: var(--btn-wh);
    height: calc(var(--btn-wh)/4);
}

#tmpModeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    user-select: none;
}

#btn-container {
    /* width: var(--width); */
    /* max-width: var(--max-width); */
    display: flex;
    gap: 1rem;
    align-utems: center;
    justify-items: center;
}

.btn {
    font-size: inherit;
    font-family: inherit;
    padding: var(--btn-pad-y) var(--btn-pad-x);
    border-radius: var(--border-radious);
    background-color: var(--accent-dark);
    color: var(--bg);
    border: none;
    cursor: pointer;
}


#submit,
.btn-mt {
    --btn-wh: 2.5rem;
}

#submit {
    width: calc(var(--btn-wh) * 2);
    color: var(--bg);
    background-color: var(--accent-dark);
}

.btn-mt {
    background-color: var(--muted);
    color: var(--bg);
}

.head {
    font-weight: bold;
}

.links {
    color: inherit;
    display: block;
    width: fit-content;
    margin: 0.3em auto;
    text-decoration: none;

    &:hover {
        color: var(--accent-dark);
    }

    /* text-decoration: none; */
}

.links:first-child {
    margin-top: 2rem;
}


#hist {
    margin: 3rem 1rem;
}

.hist-item-div {
    display: flex;
    align-items: center;
    justify-items: start;
    /* this is ignored, so it said. but won't remove for now */
    gap: 5px;
    margin: 0.5rem 0;
}

.hist-item {
    margin: 0.7rem 0;
    display: block;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--color);
}

h3 {
    margin: 0 0.5rem;
    user-select: none;
    cursor: pointer;
    font-size: 1.1em;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

.dash {
    padding-right: 0.2rem;
}

#hist-items {
    display: flex;
    flex-direction: column;
}

.flex-rev {
    flex-direction: column-reverse !important;
}

.hist-item-div:nth-child(2n) {
    background-color: #cccccc1c;
}

.del {
    color: var(--muted);
}

.pin {
    margin-left: .5rem;
}

.pinned {
    background-color: var(--accent-dark);
    color: var(--bg);
}

/* Styles for medium-sized screens */
@media (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hist-item {
        max-width: 500px;
    }

    .svg-btn {
        --btn-wh: 3.0rem;
    }

    /* bandade solutions for now */
    #submit,
    .btn-mt {
        --btn-wh: 3.5rem;
    }
}