* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    direction: ltr;
}

body {
    font-family: 'inter', 'font';
    text-align: left;
}

nav {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

main {
    width: 95vw;
    overflow-x: scroll;

    table {
        padding: 1rem;
    }

    .row:hover {
        cursor: pointer;
        background-color:
            color-mix(in srgb, var(--accent2), transparent 90%);
    }

    td,
    th {
        white-space: nowrap;
        padding: 0.5rem;
        text-align: center;
    }

    table thead,
    tr:nth-child(even) {
        background-color:
            color-mix(in srgb, var(--accent), transparent 90%);
    }

    button {
        all: unset;
        user-select: none;
        font-family: inherit;
        font-size: inherit;
        padding-left: 2rem;
        padding-right: 2rem;
        color: var(--accent2);

        &:hover {
            cursor: pointer;
        }
    }
}

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}