* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    direction: ltr;
}

body {
    font-family: 'inter', 'font';
    text-align: left;

    --font-size: 1.2rem;
    font-size: var(--font-size);

    @media (width < 768px) {
        --font-size: 1rem;
        font-size: var(--font-size);
    }
}

nav {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: var(--accent)
        }
    }
}

main {
    width: fit-content;
    max-width: 95vw;
    margin: 1rem auto;
    overflow-x: scroll;

    >div:first-of-type {
        margin: 0.5rem 0;
    }

    table {
        border-collapse: collapse;
        padding: 0.5rem;
    }

    .row:hover {
        cursor: pointer;
        background-color:
            hsl(from var(--accent2) h s l / 0.1);
        /* color-mix(in srgb, var(--accent2), transparent 95%); */
    }

    td,
    th {
        border: 1px solid #ccc;
        white-space: nowrap;
        padding: 0.5rem;
        text-align: center;
    }

    [data-w] {
        font-size: calc(var(--font-size) * 1.2);
    }

    table thead,
    tr:nth-child(even) {
        background-color:
            hsl(from var(--accent-dark) h s l / 0.05);
        /* color-mix(in srgb, var(--accent-dark), transparent 95%); */
    }

    button {
        all: unset;
        user-select: none;
        font-family: inherit;
        font-size: inherit;
        padding-left: 2rem;
        padding-right: 2rem;
        color: var(--accent2);

        &:hover {
            cursor: pointer;
        }
    }
}

.dark main {

    td,
    th {
        border: 1px solid #777;
    }

    table thead,
    tr:nth-child(even) {
        background-color:
            hsl(from var(--accent-dark) h s l / 0.2);
        /* color-mix(in srgb, var(--accent-dark), transparent 70%); */
    }

    .row:hover {
        cursor: pointer;
        background-color:
            hsl(from var(--accent2) h s l / 0.2);
        /* color-mix(in srgb, var(--accent2), transparent 70%); */
    }
}

#dialog {
    border: 1px solid #ccc;
    border-radius: var(--border-radious);
    background-color: var(--bg);
    width: 90vw;
    max-width: 500px;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        touch-action: none;
    }

    &[open] {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
    }

    aside {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem;

        h3 {
            direction: rtl;
            text-align: center;

            a {
                display: block;
                text-decoration: none;
                color: inherit;
                transition: color 200ms ease-in-out;

                &:hover {
                    color: var(--accent);
                }
            }
        }

        >* {
            padding: 0.5rem 0;
        }

        #dfd>div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 0;

            &:first-of-type {
                align-items: baseline;
            }
        }

        #dfd input {
            width: 100%;
            background-color: var(--bg);
            direction: ltr;
            text-align: left;
            max-width: 400px;
        }

        button {
            color: inherit;
            font-family: inherit;
            background: var(--bg);
            border: 2px solid var(--border);
            border-radius: var(--border-radious);
            padding: 0.5rem;

            &:hover {
                cursor: pointer;
                background-color: var(--border);
                color: var(--bg);
            }

            &:focus-visible {
                outline: none;
                border: 2px solid var(--accent-dark);
            }
        }

        .btn-c {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 100%;
                max-width: 5rem;
            }
        }

        form {
            margin-top: 1rem;
        }
    }
}
