<nav id="nav">
    {{template "nav.html" .}}
</nav>

<div id="navSpace" style="transition: height 100ms ease; height: calc(var(--nav-height) + 1rem);"></div>

<!--<div id="highWordContainer" class="hidden">
    <span id="highWord"></span>
    <button id="highWordHiBtn" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" width="16" height="16">
            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"></path>
        </svg>
    </button>
</div>-->
<div id="highWordContainer" class="{{if not .ReaderWord.Oar}}hidden{{end}}">
    <span id="highWord" hidden>{{.ReaderWord.Oar}}</span>
    <button class="svg-btn" id="highWordHiBtn" data-oar="{{.ReaderWord.Oar}}" data-ishi="{{.ReaderWord.IsHi}}" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04" />
        </svg>
    </button>
    <button class="svg-btn" id="highWordNoteBtn" data-oar="{{.ReaderWord.Oar}}" {{if .RDMode}}onclick="showNoteModalReaderPage(this.dataset.oar)"{{else}}onclick="showInfoModal(this.dataset.oar)"{{end}} type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" width="inherit" height="inherit">
          <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
          <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>
        </svg>
    </button>
</div>
<!--dont add anything inbetween-->
<hr>

<style>
#highWordContainer.hidden + hr {
    display: none;
}
#highWordContainer {
    padding-top: 0.5res;
    padding-bottom: 0.5rem;

    button {
        --svg-wh: 2rem;
        @media (width > 768px) {
            --svg-wh: 2.5rem;
        }

    }
}

.dark  #highWordHiBtn {
    background-color: #ccc;
    color: var(--bg);
}

#highWordHiBtn {
    background-color: #777;

    &[data-ishi="true"] {
        background-color: var(--accent-dark);
        color: white;
    }
}


</style>

<div id="content">
    <!-- <h3 class="eng">Shortcuts</h3> -->
    <!---->
    <!-- <ul class="s-list"> -->
    <!--     <li class="s-list-item"><span class="shortcut">Ctrl+p</span>: Open dictionary selector</li> -->
    <!--     <li class="s-list-item"><span class="shortcut">p</span>: Open dictionary selector when input is not -->
    <!--         focused -->
    <!--     </li> -->
    <!--     <li class="s-list-item"><span class="shortcut">+ / -</span>: Increase/Decrease font size</li> -->
    <!--     <li class="s-list-item"><span class="shortcut">0</span>: Reset font size to default</li> -->
    <!--     <li class="s-list-item"><span class="shortcut">u</span>: Scroll to the top of the page</li> -->
    <!--     <li class="s-list-item"><span class="shortcut">i</span>: Focus on input and select text</li> -->
    <!--     <li class="s-list-item"><span class="shortcut">s</span>: Focus on input (without selecting text)</li> -->
    <!-- </ul> -->
    <!---->
    <!-- <p class="eng"><em></em>Note: These shortcuts work regardless of your keyboard layout (Arabic/English).</em> -->
    <!-- </p> -->
    <!---->
    <!-- <p class="eng"><em></em>You can search multiple words at the same time only in this dictionary.</em></p> -->
    <!---->
    {{if .RDMode}}
    <!-- do nothing here. Hense skiping the next ifs -->

    {{else if .Mujamul_ghoni}}
    {{template "genric-dict" .Mujamul_ghoni}}

    {{else if .Mujamul_muashiroh}}
    {{template "genric-dict" .Mujamul_muashiroh}}

    {{else if .Mujamul_wasith}}
    {{template "genric-dict" .Mujamul_wasith}}

    {{else if .Mujamul_muhith}}
    {{template "genric-dict" .Mujamul_muhith}}

    {{else if .Mujamul_shihah}}
    {{template "genric-dict" .Mujamul_shihah}}

    {{else if .Lisanularab}}
    {{template "genric-dict" .Lisanularab}}

    {{else if .Lanelexcon}}
    {{template "eng-dict" .Lanelexcon}}

    {{else if .Hanswehr}}
    {{template "eng-dict" .Hanswehr}}

    {{else if .ArEn}}
    {{template "ar_en" .ArEn}}

    {{else}}
    {{template "no-res"}}
    {{end}}
</div>

<div id="change-dict" class="flex hidden">
    <div id="change-dict-items">
        <button class="change-dict-btn-style change-dict-btn">×</button>
        <input type="text" class="input-style" name="change-dict-inpt" id="change-dict-inpt"
            placeholder="١ - {{len .Dicts | arnum}}"
            oninput="this.value = this.value.replace(/[^\u0660-\u0669\u0030-\u0039\-]/g, '');">

        <div id="change-dict-items-list">
            {{range $i, $v := .Dicts}}
            <button type="button" class="change-dict-item" onclick="selectDict('{{$i}}')">
                {{$i | add 1 | arnum}}: {{$v.Ar}}
            </button>
            {{end}}
        </div>
    </div>
</div>
