<style>
	/* this is used in the root. so, default font unless changed */
	@font-face {
		font-family: "font";
		src: url("/pub/Kitab-Regular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "uthman";
		src: url("/pub/uthman.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	:root {
		direction: rtl;
		font-family: 'font';
		box-sizing: border-box;

		--btn-pad-y: 6px;
		--btn-pad-x: 12px;
		--border-radious: 4px;
		--main-padding-x: 2rem;


		--color-highlight: #02647a;
		--ar-en-tbl-bg: #3379b73d;

		--bg: #fffaf3;
		--color: #222223;
		--accent: #3a6fa6;
		--accent-dark: #285a8c;
		--highlight: #fff3a3;
		--highlight2: #d9f7be;
		--muted: #a8a29e;
		--alert: #a94442;
		--muted: #6b6b6b;
		--border: #e8e2d9;
	}


	body {
		--font-size: 2em;
		font-size: var(--font-size);
		--max-width: 35em;
		margin: 0 auto;
		background-color: var(--bg);
	}

	#nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 100vw;
		background-color: var(--bg);
		border-bottom: 1px solid #ccc;
		padding-top: 1rem;
		transition: transform 0.3s ease;
	}

	.hide-nav {
		transform: translateY(-100%);
	}

	form {
		margin: 0 auto;
		display: flex;
		width: fit-content;
		max-width: 90%;
		align-items: center;
		gap: .5rem;
	}

	#w,
	#change-dict-inpt {
		all: unset;
		direction: rtl;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: var(--border-radious);
		color: #555;
		width: 75%;
		/* line-height: 1.42857143; */
		padding: var(--btn-pad-y) var(--btn-pad-x);
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	#w:focus {
		border-color: #66afe9;
		box-shadow: 0 0 8px #66afe999;
		outline: 0;
	}

	#w-submit {
		font-size: inherit;
		font-family: inherit;
		padding: var(--btn-pad-y) var(--btn-pad-x);
		background-color: var(--accent);
		border-radius: var(--border-radious);
		border: none;
		color: var(--bg);
		cursor: pointer;
		transition: all .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	#w-submit:hover {
		background-color: var(--accent-dark);
	}



	.querySelector-item {
		all: unset;
		cursor: pointer;
	}

	#sw_dict,
	#querySelector {
		display: flex;
		width: 90%;
		max-width: var(--max-width);
		align-items: start;
		margin: 1rem auto;
		gap: 0.5rem;
		overflow-x: scroll;
	}

	.sw-dict-item,
	.querySelector-item {
		display: inline-block;
		padding: var(--btn-pad-y) var(--btn-pad-x);
		text-decoration: none;
		color: var(--color);
		border: solid 1px var(--accent);
		white-space: nowrap;
		border-radius: var(--border-radious);
		transition: all .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	/* for scroll pading */
	.sw-dict-item:first-child,
	.querySelector-item:first-child {
		margin-right: 0.5rem;
	}

	.sw-dict-item:last-child,
	.querySelector-item:last-child {
		margin-left: 0.5rem;
	}


	#sw-dict-item-selected,
	.sw-dict-item:hover,
	.querySelector-item:hover,
	#querySelector-item-selected {
		color: var(--bg);
		background-color: var(--accent);
	}

	#content {
		padding: 0 var(--main-padding-x);
		margin: 0 auto;
		/* margin-top: 15rem; */
		margin-bottom: 12rem;
		max-width: var(--max-width);
		/* text-align: justify; */
	}

	/* this is for both word, or roots */
	.word {
		color: var(--accent);
	}

	.highlight {
		color: var(--bg);
		background: var(--accent-dark);
	}

	hr {
		border: 0;
		border-top: 1px solid #ccc;
	}

	.btn {
		font-size: inherit;
		font-family: inherit;
		padding: var(--btn-pad-y) var(--btn-pad-x);
		border-radius: var(--border-radious);
		background-color: var(--accent-dark);
		color: var(--bg);
		border: none;
		cursor: pointer;
	}

	.svg-btn {
		background-color: var(--accent-dark);
		color: #fff;
		padding: 0;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: var(--border-radious);
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	}

	.svg-btn:hover {
		background-color: var(--accent);
	}

	.svg-btn svg {
		width: 2rem;
		height: 2rem;
	}

	#overlay {
		position: fixed;
		right: 0;
		bottom: 0;
		margin: 1rem 2rem;
		transition: all 0.3s ease;
		transition-property: fill, color, transform;
		cursor: default;
		display: flex;
		align-items: start;
		gap: 0.8rem;
	}

	/* schortcut or instructions */
	.s-list {
		list-style-type: disc;
		padding-left: 20px;
		direction: ltr !important;
		text-align: left;
	}

	.s-list-item {
		margin-bottom: 10px;
		direction: ltr !important;
	}

	.shortcut {
		font-family: monospace;
		background-color: var(--accent-dark);
		padding: 2px 6px;
		border-radius: 4px;
		color: var(--bg);
	}

	#change-dict {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		backdrop-filter: blur(5px);
		background-color: rgba(0, 0, 0, 0.3);
		justify-content: center;
		align-items: center;
		z-index: 999;
	}

	#change-dict-items {
		background: var(--bg);
		padding: 20px;
		border-radius: 8px;
		width: 400px;
		max-width: 90%;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	}


	.change-dict-btn-style {
		font-size: inherit;
		font-family: inherit;
		background: none;
		color: inherit;
		border: none;
		cursor: pointer;
	}

	#change-dict-inpt {
		display: block;
		width: 93%;
	}

	#change-dict-inpt:focus {
		border-color: var(--accent);
		outline: 0;
	}

	#change-dict-items-list {
		margin-top: 0.5rem;
		max-height: 70vh;
		overflow-y: scroll;
	}

	.change-dict-item {
		margin: 0.1em 0;
		text-align: right;
		display: block;
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		border: none;
		cursor: pointer;
		width: 100%;
		padding-right: 0.3em;
		background: none;
	}

	.change-dict-item:hover {
		background-color: var(--accent);
		color: var(--bg);
	}

	.no-scroll {
		overflow: hidden;
	}

	.flex {
		display: flex;
	}

	@media (max-width: 768px) {
		body {
			--font-size: 1.2em;
			font-size: var(--font-size);
		}

		#change-dict {
			align-items: start;
		}

		#change-dict-items {
			border-radius: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			width: 100%;
		}

		#change-dict-items-list {
			max-height: 80vh;
		}

		#content {
			padding: 0 .8rem;
		}

	}


	.hidden {
		display: none !important;
	}

	.eng {
		direction: ltr !important;
	}
</style>

{{define "eng-style"}}
<style id="eng_style">
	@font-face {
		font-family: "eng-font";
		src: url("/pub/Amiri-Regular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	#content,
	#content div {
		font-family: "eng-font";
		direction: ltr !important;
	}

	.word {
		display: none;
	}
</style>
<script>
	if ('{{if not (or (eq "lanelexcon" .Curr) (eq "hanswehr" .Curr))}}y{{end}}' === 'y')
		eng_style.disabled = true;
</script>
{{end}}

{{define "ar_en-style"}}
<style id="ar_en_style">
	table {
		margin: 0 auto;
		direction: ltr;
		text-align: left;
	}

	.w-4 {
		/* width: 4rem; */
		padding-left: 0.5rem;
		/* background-color: rgba(255, 0, 0, 0.493); */
	}

	.w-def {
		/* width: 12.5rem; */
		padding-left: 0.5rem;
		/* background-color: rgba(0, 0, 255, 0.336); */
	}

	.padd {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

	/* data left  */
	.dl {
		direction: ltr;
		text-align: left;
	}

	table thead,
	tr:nth-child(even) {
		background-color: rgba(from var(--accent) r g b / 10%);
	}
</style>
<script>
	if ('{{if ne "ar_en" .Curr}}y{{end}}' === 'y')
		ar_en_style.disabled = true;
</script>
{{end}}