<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/pub/fav.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{template "main_style.html"}}
    {{template "ar_en-style" .}}
    {{template "eng-style" .}}
    {{if .RDMode}}
    {{template "reader-css"}}
    {{end}}

    {{if .RDMode}}
    <title>{{.RD.Title}}</title>
    {{else}}
    <title>{{index .DictsMap .Curr}}{{if .Queries}}: {{index .Queries .Idx}}{{end}}</title>
    {{end}}

    {{if .RDMode}}
    <style>
        #dict_container {
            position: fixed;
            background-color: var(--bg);
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: scroll;
        }
    </style>
    {{end}}
</head>

<body>
    {{if .RDMode}}
    {{template "reader" .RD}}
    {{end}}
    <div id="dict_container" class="{{if .RDMode}}hidden{{end}}">
        {{template "dict_container.html" .}}
    </div>

    <div id="overlay">
        <button class="btn svg-btn" id="up">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" />
            </svg>
        </button>
        <button class="btn svg-btn" onclick="window.location.href = '/rd/'">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
        <button class="btn svg-btn" id="plus">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
        </button>
        <button class="btn svg-btn" id="minus">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
            </svg>
        </button>
        {{if .RDMode}}
        <button class="btn svg-btn hidden" id="dict_container_tougle" onclick="window.history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </button>
        {{end}}
        <button class="btn svg-btn hidden" id="resetFont">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="m1.854 14.854 13-13a.5.5 0 0 0-.708-.708l-13 13a.5.5 0 0 0 .708.708M4 1a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 4 1m5 11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 9 12" />
            </svg>
        </button>
    </div>
    <script>
        // {{template "main.js" .}}
        // {{template "nav.js" .}}
        // {{template "btn.js" .}}
        // {{template "key.js" .}}
        // {{if .RDMode}}
        // {{template "reader.js" .}}
        // {{end}}
    </script>
</body>

</html>