<form id="form" autocomplete="off">
    <div id="w-wrap">
        <input type="text" class="input-style" id="w" placeholder="اكتب هنا"
            value="{{.Query}}" spellcheck="false" autocorrect="off" />

        <button type="button" id="w-btn" class="{{if not .Query}}hidden{{end}}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
    </div>
    <button type="submit" id="w-submit">ابحث</button>
</form>

<!-- switch dictionary -->
<div id="sw_dict">
    {{range .Dicts}}
    <a class="sw-dict-item" id="{{if eq .En $.Curr}}sw-dict-item-selected{{end}}" data-dict-name="{{.En}}"
        data-dict-name-ar="{{.Ar}}" href="/{{.En}}?w={{$.Query}}&idx={{$.Idx}}">{{.Ar}}</a>
    {{end}}
</div>

<div id="querySelector" class="{{if le (len .Queries) 1}}hidden{{end}}">
    <!-- if and (gt (len .Queries) 1) (ne "ar_en" .Curr)-->
    {{if gt (len .Queries) 1}}
    {{range $i, $v := .Queries}}
    <button onclick="changeQueryIdx(this, '{{.}}', parseInt('{{$i}}'))" class="querySelector-item"
        id="{{if eq $i $.Idx}}querySelector-item-selected{{end}}">
            {{$v}}</button>
    {{end}}
    {{end}}
</div>
