<form id="form">
    <input type="text" name="w" id="w" placeholder="اكتب هنا" value="{{.Query}}">
    <button type="submit" id="w-submit">ابحث</button>
</form>

<!-- switch dictionary -->
<div id="sw_dict">
    {{range .Dicts}}
    <a class="sw-dict-item" id="{{if eq .En $.Curr}}sw-dict-item-selected{{end}}" data-dict-name="{{.En}}"
        data-dict-name-ar="{{.Ar}}" href="/{{.En}}?w={{$.Query}}&idx={{$.Idx}}">{{.Ar}}</a>
    {{end}}
</div>

<div id="querySelector" class="{{if le (len .Queries) 1}}hidden{{end}}">
    <!-- if and (gt (len .Queries) 1) (ne "ar_en" .Curr)-->
    {{if gt (len .Queries) 1}}
    {{range $i, $v := .Queries}}
    <a href="/{{$.Curr}}?w={{$.Query}}&idx={{$i}}" class="querySelector-item"
        id="{{if eq $i $.Idx}}querySelector-item-selected{{end}}">
        {{if lt $i 9}}{{$i | add 1 | arnum}}:{{end}}{{$v}}</a>
    {{end}}
    {{end}}
</div>