{{define "reader-css"}}
<style>
    /* from quran.com */
    .speia {
        --base: #f8ebd5;
        --text: #010101;
        --text-nf: #d20f39;
    }

    .latte {
        --base: #eff1f5;
        --text: #3a3c4e;
        --text-nf: #d20f39;
    }

    .mocha {
        --base: #1e1e2e;
        --text: #cdd6f4;
        --text-nf: #f38ba8;
    }

    #reader {
        max-width: 35em;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        padding: 1rem 1rem;
        margin-bottom: 8rem;
    }

    .text-justify {
        text-align: justify !important;
    }

    .pera {
        text-indent: 6%;
        margin-bottom: 1.3rem;
    }

    #reader span {
        cursor: pointer;
        transition: background-color 100ms ease-in-out;
    }

    #popup {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .hi {
        background-color: var(--highlight);
        /* background-color: var(--accent-dark);
        color: var(--bg); */
    }

    .clicked {
        background-color: var(--highlight2);
    }

    .alert {
        background-color: var(--alert);
    }

    #highlight svg {
        height: 1.4rem;
        width: 1.4rem;
    }

    /* reader menu style */
    #readerMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        z-index: 1;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.5);
    }

    #readerMenu aside {
        max-width: var(--max-width);
        background-color: var(--bg);
        margin: 4% auto;
        padding: 20px;
        border-radius: var(--border-radious);
        width: 80%;
        max-width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* margin-top: 6rem; */
    }

    #readerMenu h3 {
        margin: 0.5rem 0;
    }

    #readerMenu .sep {
        margin: 2rem 0;
    }

    #readerMenu button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    #readerMenu a {
        display: block;
        text-decoration: none;
        color: inherit;
        margin: 1rem 0;
    }

    #readerMenu .select-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
    }

    #readerMenu select {
        font-family: inherit;
        font-size: inherit;
        padding: .1rem .5rem;
        border-radius: var(--border-radious);
        background-color: var(--bg);
        color: #000;
        border: 1px solid #ccc;
    }
</style>

<style id="poem">
    .pera:nth-of-type(2n+1) {
        text-indent: 0;
    }

    .pera:nth-of-type(2n) {
        text-indent: 3rem;
    }
</style>
<script>document.getElementById("poem").disabled = true;</script>
{{end}}

{{define "reader"}}
<div id="reader">
    {{range .Peras}}
    <div class="pera">
        {{range .}}
        <span data-oar="{{.Oar}}"
            class="rWord {{if .IsHi}}hi{{end}}">{{.Og}}</span><!-- s alias to showWord. shorter name for space saving -->
        {{end}}
    </div>
    {{end}}
</div>

<div class="hidden" id="readerMenu">
    <aside>
        <h3>خيارات</h3>
        <hr>
        <div class="select-container">
            <label for="vewing-mode">وضع المشاهدة:</label>
            <select id="vewing-mode">
                <option value="normal">عادي</option>
                <option value="poem">قصيدة</option>
            </select>
        </div>

        <div class="select-container">
            <label for="text-align">محاذاة النص:</label>
            <select id="text-align">
                <option value="right">لليمين</option>
                <option value="justify">التبرير</option>
            </select>
        </div>

        <div class="sep"></div>
        <h3>روابط</h3>
        <hr>
        <a class="readerMenuAnker" href="/rd/">- انتقل إلى مدخل القارئ</a>
        <a class="readerMenuAnker" href="/"> - انتقل إلى القواميس</a>
        <button class="btn" onclick="window.history.back()">اغلق</button>
    </aside>
</div>

<div id="popup" class="hidden">
    <button id="highlight" class="svg-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
        </svg>
    </button>
    <button id="openDictBtn" class="svg-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
        </svg>
    </button>
</div>
{{end}}