{{define "reader-css"}}
<style>
    #reader {
        max-width: 35em;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        padding: 1rem 1rem;
        margin-bottom: 30vh;
    }

    .text-right {
        text-align: right !important;
    }

    .pera {
        text-indent: 6%;
        margin-bottom: 1.3rem;
    }

    /* Don't add any style here */
    .rWord {
        cursor: pointer;
        transition: background-color 100ms ease-in-out;
    }

    #popup {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .hi {
        background-color: var(--highlight);
        border-radius: var(--border-radious);
        /* padding-left: 2px;
        padding-right: 2px;
        background-color: var(--accent-dark);
        color: var(--bg); */
    }

    .clicked {
        border-radius: var(--border-radious);
        background-color: var(--highlight2);
    }

    .alert {
        background-color: var(--alert);
    }

    #highlight svg,
    #editAndHighlight svg {
        height: 1.4rem;
        width: 1.4rem;
    }

    /* reader menu style */
    #readerMenu {
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
        border: none;
        margin: 0;
        background-color: var(--bg);
        color: var(--color);
        padding: 2rem;
        padding-bottom: 5rem;

        h3 {
            margin: 0.5rem 0;
        }

        .sep {
            margin: 2rem 0;
        }

        .close {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
            width: 5em;
        }

        a {
            display: block;
            text-decoration: none;
            color: inherit;
            margin: 1rem 0;

            &:hover {
                text-decoration: underline;
            }
        }

        .select-container {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            margin: 1rem 0;
        }


        /* reader menu btn*/
        .rm-btn {
            --btn-pad-y: 2px;
            --btn-pad-x: 6px;
            background-color: var(--bg);
            color: var(--color);
            border: 1px solid #ccc;
        }

        #resetFont {
            background-color: var(--alert);
            color: var(--bg);
            border: none;
        }
    }

    .rm-btn:not(:first-of-type) {
        margin-right: 0.5rem;
    }

    #hide-line-numbers-div {
        display: none !important;
    }

    #select-line-numbers-div {
        display: none !important;
    }

    #poem-align-div {
        display: none !important;
    }


    .poem-line-num {
        user-select: none;
        display: none;
    }
</style>

<style id="poem">
    .pera:nth-of-type(2n + 1) {
        text-indent: 0;
    }

    .pera:nth-of-type(2n) {
        text-indent: 3.5rem;
    }

    .poem-line-num {
        display: inline;
        font-weight: bold;
        color: var(--accent2);
    }

    #hide-line-numbers-div {
        display: flex !important;
        user-select: none;
    }

    #select-line-numbers-div {
        display: flex !important;
    }

    body:has(#hide-line-numbers:checked) .poem-line-num {
        display: none;
    }

    body:has(#select-line-numbers:checked) .poem-line-num {
        user-select: auto;
    }

    body:has(#vewing-mode option[value="poem"]:checked) {

        #text-align-div {
            display: none;
        }

        #poem-align-div {
            display: block !important;
        }
    }

    #reader {
        text-align: right !important;
    }

    .poem-center {
        display: flex;
        align-items: center;
    }
</style>
<script>
    document.getElementById("poem").disabled = true;
</script>
{{end}}

{{define "reader"}}

<div id="readerWrapper" class="{{if .RevMode}}hidden{{end}}">
    {{if or .RevMode (gt .HiIdx.MatchCount 0)}}

    {{if .RevMode}}
    <hr>
    {{end}}

    <h3 style="text-align: center; font-weight: bold;">
        {{- $n := .HiIdx.MatchCount -}}

        <span>{{.HiIdx.Word}} ~ </span>

        {{if eq $n 1 -}}
        تم العثور على تطابق واحد
        {{- else if eq $n 2 -}}
        تم العثور على تطابقين
        {{- else if and (ge $n 3) (le $n 10) -}}
        تم العثور على {{ $n | arnum }} تطابقات
        {{- else -}}
        تم العثور على {{ $n | arnum }} تطابق
        {{- end -}}
    </h3>
    <!-- fancy reader mode -->
    <style>
        #title a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: var(--accent-dark);
            }
        }
    </style>
    <div id="reader">
        {{range .HiIdx.Peras}}
        <h3 id="title"><a href="/rd/{{.Sha}}" target="_blank">{{.Name}} ({{len .Peras | arnum}}) &larr;</a></h3>
        {{range $i, $p := .Peras}}
        <div class="pera">
            <hr>
            {{- range $p}}<span data-oar="{{.Oar}}" class="rWord {{if .IsHi}}hi{{end}}" {{if .IsHi}}data-nohi="true"{{end}}>{{.Og}}</span> {{end -}}
        </div>
        {{end}}
        {{end}}
    </div>
    {{else}}
    <!-- regular reader mode -->
    <div id="reader">
        {{range $i, $p := .RD.Peras}}
        <div class="pera">
            {{- if add $i 1 | isodd -}}
            <span class="poem-line-num">{{qasidaLine $i}}- </span>
            {{- end}}
            {{- range $p}}<span data-oar="{{.Oar}}" class="rWord {{if .IsHi}}hi{{end}}">{{.Og}}</span> {{end -}}
        </div>
        {{end}}
    </div>
    {{end}}
</div>

<dialog id="readerMenu">
    <h3>خيارات</h3>
    <hr />

    <div class="select-container">
        <label for="font-selector">اختر الخط:</label>
        <select id="font-selector">
            <option value="font">كتاب</option>
            <option value="uthman">عثمان</option>
            <option value="amiri">أميري</option>
            <option value="playpen">بلايبن</option>
        </select>
    </div>

    <div class="select-container">
        <span>حجم الخط:</span>
        <button class="btn rm-btn" id="plus">زيادة</button>
        <button class="btn rm-btn" id="minus">تقليل</button>
        <button class="btn rm-btn hidden" id="resetFont">إعادة</button>
    </div>

        <div id="" class="select-container">
            <label for="dark">
                الليالية:
            </label>
            <input type="checkbox" id="dark" />
        </div>

    <div class="select-container">
        <label for="vewing-mode">وضع المشاهدة:</label>
        <select id="vewing-mode">
            <option value="normal">عادي</option>
            <option value="poem">قصيدة</option>
        </select>
    </div>

    <div class="select-container" id="text-align-div">
        <label for="text-align">محاذاة النص:</label>
        <select id="text-align">
            <option value="justify">التبرير</option>
            <option value="right">لليمين</option>
        </select>
    </div>

    <div class="select-container" id="poem-align-div">
        <label for="poem-align">محاذاة الأبيات:</label>
        <select id="poem-align">
            <option value="right">لليمين</option>
            <option value="center">الوسط</option>
        </select>
    </div>

    <div id="hide-line-numbers-div" class="select-container">
        <label for="hide-line-numbers">
            إخفاء أرقام الأبيات:
        </label>
        <input type="checkbox" id="hide-line-numbers" />
    </div>

    <div id="select-line-numbers-div" class="select-container">
        <label for="select-line-numbers">
            اجعل أرقام الأبيات قابلة للاختيار:
        </label>
        <input type="checkbox" id="select-line-numbers" />
    </div>

    <div class="select-container">
        <label for="wakelock">وضع القراءة المستمزة:</label>
        <select id="wakelock" disabled="disabled" value="off" style="
                    color: var(--alert);
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                ">
            <option value="off">مطفَأ</option>
            <option value="on">مشغَّل</option>
        </select>
    </div>

    <div id="scroll-on-search-div" class="select-container no-select">
        <label for="scroll-on-search">التمرير إلى نتيجة البحث:</label>
        <input type="checkbox" id="scroll-on-search" />
    </div>

    <div class="sep"></div>
    <h3>روابط</h3>
    <hr />

    <a class="readerMenuAnker" href="/rd/">
        انتقل إلى مدخل القارئ
        &larr;
    </a>
    <a class="readerMenuAnker" href="/">
        انتقل إلى القواميس
        &larr;
    </a>
    <a class="readerMenuAnker" href="/rd/highlist/">
        اذهب إلى قائمة الكلمات المميزة
        &larr;
    </a>
    {{if .RevMode}}
    <a class="readerMenuAnker" href="/rd/rev/list">
        اذهب إلى قائمة الكلمات
        &larr;
    </a>
    {{else}}
    <a class="readerMenuAnker" href="/rd/rev/">
        اذهب إلى قائمة المراجعة
        &larr;
    </a>
    <a class="readerMenuAnker" href="/rd/rev/list">
        اذهب إلى قائمة الكلمات
        &larr;
    </a>
    {{end}}
    <button class="btn close" onclick="window.history.back()">
        اغلق
    </button>
</dialog>

<div id="popup" class="hidden">
    <button id="highlight" class="svg-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04" />
        </svg>
    </button>
    <button id="openDictBtn" class="svg-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
        </svg>
    </button>
    <button id="infoBtn" class="svg-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
              <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>
        </svg>
    </button>
</div>

<dialog id="infoDialog">
    <div>
        <h3 id="noteWord"></h3>
        <textarea class="input-style" id="infoTxt" readonly tabindex="-1" placeholder="Write a Note"></textarea>
        <form>
            <button class="btn" type="button" style="flex-grow: 2; width: 100%;" id="infoEditBtn"></button>
            <button class="btn" type="button" style="flex-grow: 1; background-color: var(--alert);" id="noteDelBtn">Delete</button>
            <button class="btn" type="button" style="flex-grow: 1; background-color: var(--muted);" id="infoCloseBtn">Close</button>
        </form>
    </div>
</dialog>
{{end}}
