<div id="revMode" class="{{if not .RD.Title}}hidden{{end}}">
    <h3 id="title">{{.RD.Title}}</h3>

    <dialog id="selectCustomAfterDailouge">
        <div class="mc">
            <div class="con">
                <label for="selectCustomAfterDailougeSelect">الأيام:</label>
                <select name="selectCustomAfterDailougeSelect" id="selectCustomAfterDailougeSelect">
                    {{range nextRev .RevData.Past .RevData.Future}}<option value="{{.}}">{{.}}</option>{{end}}
                    <!-- <option value="7">7</option> -->
                    <!-- <option value="10">10</option> -->
                    <!-- <option value="15">15</option> -->
                    <!-- <option value="20">20</option> -->
                    <!-- <option value="25">25</option> -->
                    <!-- <option value="30">30</option> -->
                </select>
            </div>
            <div class="con">
                <label for="selectCustomAfterDailougeInput">أو:</label>
                <!-- <input class="input-style" id="selectCustomAfterDailougeInput" type="number" placeholder="1-30" min="1"
                    max="30"> -->
                <input class="input-style" id="selectCustomAfterDailougeInput" placeholder="Days" inputmode="numeric" />
            </div>
            <div class="con">
                <button class="btn" style="flex-grow: 2;" onclick="customAfter()" autofocus>
                    موافق
                </button>
                <button class="btn" onclick="selectCustomAfterDailouge.close()">
                    إلغاء
                </button>
            </div>
        </div>
    </dialog>

    <div id="opts-con">
        <div class="top-txt">
            بعد عدد الأيام
        </div>
        <div class="top">
            <button class="btn" onclick="showAfter(-1)" title="Repeat. Show agin in ~10m">
                R
            </button>
            {{range .RevData.IV}}
            <button class="btn" title="Show after {{.}} day{{if gt . 1}}s{{end}}"
                onclick="showAfter(parseInt('{{.}}'))">
                {{.}}
            </button>
            {{end}}
            <button class="btn" title="Select a custom date"
                onclick="customAfterInput.value = ''; selectCustomAfterDailouge.showModal()">
                -
            </button>
        </div>
        <hr>
        <div class="bottom">
            <button class="svg-btn" onclick="openDictionay('{{.RD.Title}}')"
                title="Open dictionary with the word shown above">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                </svg>
            </button>
            <button class="svg-btn svg-btn-sm {{if (eq .HiIdx.MatchCount 0)}}hidden{{end}}"
                title="Show found instances in the entries"
                onclick="readerWrapper.classList.remove('hidden'); readerWrapper.scrollIntoView({ behavior: 'smooth'});">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                    <path
                        d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <button class="svg-btn" onclick="dontShow()" title="Hide this word form showing in review page">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                    <path
                        d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                    <path
                        d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                </svg>
            </button>
            <button class="svg-btn svg-btn-sm" onclick="window.location.href = '/rd/rev/list?past=new';"
                title="Go to word list view to undo or edit recently made changes">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
                </svg>
            </button>
        </div>
    </div>
</div>

{{if not .RD.Title}}
<center>
    <p>
        لا جديد موجود
    </p>
</center>
<!-- <button class="btn" onclick="reset()">
        reset
    </button> -->
{{end}}

<script>
    const word = "{{.RD.Title}}";
    const selectCustomAfterDailouge = document.getElementById("selectCustomAfterDailouge");
    const customAfterSelect = document.getElementById("selectCustomAfterDailougeSelect")
    const customAfterInput = document.getElementById("selectCustomAfterDailougeInput")

    function showAfter(d) {
        let days;
        if (d < 0) days = 'r';
        else days = d;
        postThen(`${window.location.pathname}?w=${word}&after=${days}`,
            () => window.location.reload());
    }

    customAfterInput.addEventListener("keypress", (e) => {
        if (e.key === "Enter")
            customAfter();
    });

    customAfterSelect.addEventListener("change",
        () => customAfterInput.value = "");

    function customAfter() {
        let val = customAfterInput.value.trim();
        val = val ? val : customAfterSelect.value;
        const days = parseInt(val);

        if (days < 0 || isNaN(days) || !/^[0-9]+$/.test(val)) {
            alert(`Error: Invalid number of days provided: '${val}'`);
            return;
        }
        selectCustomAfterDailouge.close();
        showAfter(days);
    }

    function dontShow() {
        if (confirm(`هل تريد إخفاء: ${word}`))
            postThen(`${window.location.pathname}?w=${word}&dontshow=true`,
                () => window.location.reload())
    }

    function postThen(url, func) {
        fetch(url, {method: "POST"})
            .then(((res) => {
                if (res.ok) {if (func) func();}
            })).catch((err) => {
                console.error(err);
                alert("Something went wrong (check console)");
            });
    }
</script>
